#main {
    margin: 10vh auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.title-label {
    margin: 0 0 36px 0;

    color: var(--gray-900, #2B2B2B);
    font-size: 1.2rem;
    font-weight: 500;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 0 20px 0;
}

.field-label {
    color: var(--gray-800, #575757);

    font-size: 1rem;
    font-weight: 500;
}

.field-input {
    width: 100%;
    border: 1px solid;
    border-color: var(--gray-500, #D9D9D9);
    height: 44px;
    padding: 16px;
    border-radius: 8px;
}

.field-input::placeholder {
    color: var(--gray-600, #AEAEAE);

    font-size: 1rem;
    font-weight: 400;
}

.main-button {
    margin: 20px 0 8px 0;

    border-radius: 8px;
    background: var(--primary, #7ACEDA);
    height: 44px;
    color: var(--white);
    cursor: pointer;
}

a {
    text-align: center;
    color: var(--gray-600, #AEAEAE);

    font-size: 0.8rem;
    font-weight: 400;
}